
body
{
	background-color:rgba(0,0,0,0.5);
}

fieldset
{
	overflow:auto;
	border:2px solid black;
	border-radius:5px;
	border-color:white;
	background: rgba(0,86,63,0.9);
	opacity:0.9;
    color: #E5EDf5;
	margin: auto;
	height: 500px;
	width: 560px;
	text-align:center;
	margin-top:80px;
	
	
}

div.formDetails
{
	padding:20px;
	text-align:left;
	font-size:18px;
}

div.formDetailsMiddle
{
	
	text-align:center;
	
}

.textbuttons
{
	
	width:88%;
	background-color:transparent;
	height:30px;
	border-top-style:hidden;
	border-left-style:hidden;
	border-right-style:hidden;
	color:white;
	
}


.LoginButton
{
	
	width:100px;
	height:40px;
	background: linear-gradient(135deg, #00008b, #9b59b6);
	border-radius:10px;
	border-color:white;
	color:white;
	
	
}

.LoginButton : hover
{
	background-color:#000080;
}